<!-- index.html -->

<html>
<head>
	<title></title>
</head>
<body>
{% if user.is_authenticated %}
	
	<p>You're logged in as {{ user }} <a href="{% url 'logout' %}">logout</a></p>
	<p>Session:<br>
		<div>You are {{ request.session.attributes.eduPersonAffiliation }} </div>
		<div>
			{% if 'staff' in request.session.attributes.eduPersonAffiliation or 'faculty' in request.session.attributes.eduPersonAffiliation %} 
				Hi Dr. {{ request.session.attributes.sn }}!

			{% endif %}
		</div>

		{{ request.session.attributes.givenName }}{{ request.session.attributes.sn|slice:":1" }}
		{{user.last_login}}
		
	</p>
	
{% else %}
	
	<p><a href="{% url 'login' %}">uh login</a></p>

{% endif %}
</body>
</html>